<app-header></app-header>
<div class="container">
  <h5 class="p-2">User Profile</h5>
  <table style="width: 600px" class="table">
    <tr>
      <th>Name</th>
      <th>{{ uinfo.name }}</th>
    </tr>
    <tr>
      <th>Address</th>
      <th>{{ uinfo.city }}</th>
    </tr>
    <tr>
      <th>Gender</th>
      <th>{{ uinfo.gender }}</th>
    </tr>
    <tr>
      <th>Email Id</th>
      <th>{{ uinfo.userid }}</th>
    </tr>
    <tr>
      <th>Phone no</th>
      <th>{{ uinfo.phone }}</th>
    </tr>
  </table>
</div>
