@import url(https://therichpost.com/responsivestyle/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
.logo{font-size: 3rem;}app-dashboard{flex-grow: 1 !important;}
.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 1px solid;
    text-align: center;
  }
  
  .csv-result-table {
    margin: 5%;
    border: 1px solid #73AD21;
    text-decoration: solid red;
  }
  
  table, th, td {
    border: 1px solid black;
  }
.footer{
  position:relative;
    bottom:0;
    width: 100%;
    height: 70px;
    background-color:aqua;
    text-align:center;
    color:black;
}
