<app-header></app-header>
<div class="container-fluid" style="background-color: aliceblue; height: 79vh">
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <div class="card shadow" style="margin-top: 80px">
        <div class="card-header bg-white">
          <h4>Admin Login</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="fg" (submit)="validateadmin(fg.value)" novalidate>
            <div class="form-group">
              <input
                type="text"
                formControlName="userid"
                required
                name="userid"
                placeholder="User Id"
                class="form-control"
              />
              <small
                class="form-text text-danger"
                *ngIf="submitted && !fg.controls['userid'].valid"
                >User id must be given</small
              >
            </div>
            <div class="form-group">
              <input
                type="password"
                formControlName="pwd"
                required
                name="password"
                placeholder="Password"
                class="form-control"
              />
              <small
                class="form-text text-danger"
                *ngIf="submitted && !fg.controls['pwd'].valid"
                >Password must be given</small
              >
            </div>
            <input
              type="submit"
              value="Sign In"
              class="btn btn-primary btn-block"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
